<link rel="stylesheet" href="/css/user_profile.css">
<h1> Habit</h1>
<div class="habit-profile">
    <p><%= habit_profile.habit %></p>
    <p><%= habit_profile.time %></p>
    
</div>
<main>
    <div class="day">
        <div class="date"><%= habit_profile.date %></div>
        <form action="/users/update/?id=<%=habit_profile._id%>" method="POST">
            <select name="status" >
                <option value="ans"><%= habit_profile.status %></option>
                <option value="none">none</option>
                <option value="Completed">Completed</option>
                <option value="Not completed">Not Completed</option>
            </select>
            <button type="submit">update</button>
        </form>

    </div>
</main>








